<footer class="bg-dark text-white">
  <div class="container">
    <div class="row no-gutters">
      <div class="mx-auto">
        <p>CopyRight Nagano_cake.inc</p>
      </div>
    </div>
  </div>
</footer>